*{
  font-family: 'Comfortaa', cursive;
}

@font-face {
  font-family: 'Mermaid';
  src: url('../font/mermaid.ttf');
}

body {
  background-image:
    linear-gradient(to bottom right, #B5F5E2, #E5B5F5);
  height: 100%;
  padding-bottom: 100px;
  padding: 15px;
}

nav {
  padding: 0px;
}

.navbar-toggler {
  border: 1px solid black !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem !important;
}

nav ul li .nav-link {
  color: #000000;
  font-weight: 700;
  font-size: 23px;
}

nav ul li .nav-link svg {
  width: 25px;
  height: 25px;
}

.hero p {
  font-family: "Mermaid";
  font-size: 28px;
}

.hero h2 {
  font-family: "Mermaid";
  font-size: 38px;
}

.experience h2 {
  font-family: "Mermaid";
  font-size: 38px;
  margin-top: 30vh;
  margin-bottom: 30px;
}

h1 {
  font-size: 78px !important;
  font-family: "Mermaid";
  margin-top: 25vh !important;
}

h1 span {
  font-family: "Mermaid";
  margin-left: 20px;
}

.experience img {
  width: 100%;
  margin-bottom: 70px;
  border-radius: 130px;
  transition: box-shadow 0.3s;
  cursor:pointer;
}

.experience img:hover, .ilustracion img:hover {
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3);
}

.ilustracion img {
  margin-bottom: 45px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.no-shadow img:hover {
  box-shadow: none;
}

.sobremi img {
  margin-top: 100px;
  width: 100%;
}

.skills img {
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
}

.skills img:hover {
  border-radius: 0px;
  box-shadow: none;
  cursor: default;
}

.sobremi h1 {
  margin-top: 50px !important;
}

.sobremi .desc {
  font-family: 'Comfortaa', cursive;
  font-size: 26px;
  display: block;
  padding: 0 25%;
  margin-bottom: 20px;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  max-width: 100%;
  margin-top: 50px;
}

.image-huerta {
  background-image: url('../imgs/huerta.png');
}

.image-yeyo {
  background-image: url('../imgs/yeyoportada.png');
}

.image-abra {
  background-image: url('../imgs/abraportada.png');
}

.image-quipu {
  background-image: url('../imgs/quipuportada.png');
}

.job-desc {
  font-size: 25px;
}

@media (max-width: 991px) {

  .navbar-collapse {
    background-color: rgb(255 255 255 / 38%);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .experience h2 {
    margin-top: 150px;
  }
  h1 {
    margin-top: 5vh !important;
    font-size: 150px !important;
  }
  nav ul li .nav-link {
    font-size: 40px;
  }
  nav ul li .nav-link svg {
    width: 40px;
    height: 40px;
  }
  .hero h2, .experience h2 {
    font-size: 70px;
  }
  .hero p {
    font-size: 50px;
  }
  .experience img {
    margin-bottom: 30px;
  }
  .sobremi .desc {
    font-size: 46px;
    padding: 0 15%;
  }
  .img-pro-wrapper {
    width: 100% !important;
  }
  .hero-image {
    background-attachment: inherit;
  }
  .job-desc {
    font-size: 45px;
  }
  .job-title-r {
    font-size: 60px;
  }
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: block !important;
  }
}
